header.row
  .span.col-sm-5.pull-left
    h3 = t('CronJobs')

  .span.col-sm-7.pull-right style="margin-top: 20px; margin-bottom: 10px;"
    - if @cron_jobs.size > 0
      form.pull-right action="#{root_path}cron/__all__/delete" method="post"
        = csrf_tag if respond_to?(:csrf_tag)
        input.btn.btn-small.pull-left.btn-danger type="submit" name="enque" value="#{t('DeleteAll')}" data-confirm="#{t('AreYouSureDeleteCronJobs')}"
      form.pull-right action="#{root_path}cron/__all__/disable" method="post"
        = csrf_tag if respond_to?(:csrf_tag)
        input.btn.btn-small.btn-warn.pull-left type="submit" name="enque" value="#{t('DisableAll')}"
      form.pull-right action="#{root_path}cron/__all__/enable" method="post"
        = csrf_tag if respond_to?(:csrf_tag)
        input.btn.btn-small.btn-warn.pull-left type="submit" name="enque" value="#{t('EnableAll')}"
      form.pull-right action="#{root_path}cron/__all__/enque" method="post"
        = csrf_tag if respond_to?(:csrf_tag)
        input.btn.btn-small.btn-warn.pull-left type="submit" name="enque" value="#{t('EnqueueAll')}"

- if @cron_jobs.size > 0

  table class="table table-hover table-bordered table-striped"
    thead
      th = t('Status')
      th = t('Name')
      th = t('Cron')
      th = t('Last enque')
      th = t('Next enque')
      th width="180px"
        = t('Actions')


    - @cron_jobs.sort_by{ |a| a.sort_name }.each_with_index do |job, index|
      - css_class = "#{job.disabled? ? "text-danger": ""}"
      tr
        td[class="#{scss_class}"]= job.status
        td[class="#{css_class}"]
          a href="#{root_path}cron/#{CGI.escape(job.name).gsub('+', '%20')}"
            b = job.name
          hr style="margin:3px;border:0;"
          small
            - if job.message and job.message.to_s.size > 100
              button data-toggle="collapse" data-target=".worker_#{index}" class="btn btn-mini" = t('ShowAll')
              .toggle[class="worker_#{index}" style="display: inline;"]= job.message[0..100] + "... "
              .toggle[class="worker_#{index}" style="display: none;"]= job.message
            - else
              = job.message

        td[class="#{css_class}"]
          b == job.cron.gsub(" ", "&nbsp;")
        td[class="#{css_class}"]== job.last_enqueue_timestamp.to_i > 0 ? relative_time(Time.at(job.last_enqueue_timestamp.to_i).utc) : "-"
        td[class="#{css_class}"]== job.next_enqueue_timestamp.to_i > 0 ? relative_time(Time.at(job.next_enqueue_timestamp.to_i).utc) : "-"
        td[class="#{css_class}"]
          -if job.status == 'enabled'
            form action="#{root_path}cron/#{CGI.escape(job.name).gsub('+', '%20')}/enque" method="post"
              = csrf_tag if respond_to?(:csrf_tag)
              input.btn.btn-xs.btn-warn.pull-left style="margin-top:5px;" type="submit" name="enque" value="#{t('EnqueueNow')}"
            form action="#{root_path}cron/#{CGI.escape(job.name).gsub('+', '%20')}/disable" method="post"
              = csrf_tag if respond_to?(:csrf_tag)
              input.btn.btn-xs.btn-warn.pull-left style="margin-top:5px;" type="submit" name="disable" value="#{t('Disable')}"
          -else
            form action="#{root_path}cron/#{CGI.escape(job.name).gsub('+', '%20')}/enque" method="post"
              = csrf_tag if respond_to?(:csrf_tag)
              input.btn.btn-xs.btn-warn.pull-left style="margin-top:5px;" type="submit" name="enque" value="#{t('EnqueueNow')}"
            form action="#{root_path}cron/#{CGI.escape(job.name).gsub('+', '%20')}/enable" method="post"
              = csrf_tag if respond_to?(:csrf_tag)
              input.btn.btn-xs.btn-warn.pull-left style="margin-top:5px;" type="submit" name="enable" value="#{t('Enable')}"
            form action="#{root_path}cron/#{CGI.escape(job.name).gsub('+', '%20')}/delete" method="post"
              = csrf_tag if respond_to?(:csrf_tag)
              input.btn.btn-danger.btn-xs style="margin-top:5px;" type="submit" name="delete" value="#{t('Delete')}" data-confirm="#{t('AreYouSureDeleteCronJob', :job => job.name)}"

- else
  .alert.alert-success = t('NoCronJobsWereFound')
